# Howdy!

<p>My name is {{name}} and I'm a Staff Customer Success Architect at <a href="https://github.com">GitHub</a></p>
<p>I'm also a robotics enthusiast, electronics tinkerer, ham radio operator, pilot, wannabe programmer, technology fanatic, foodie, amateur mechanic</p>

<table>
    <tr>
        <th width="25%">
            <p><a href="https://www.instagram.com/jamesmassardo/">Latest project pictures</a></p>
        </th>
        <th>
            <p><a href="https://dxrf.com/blog/">Latest Blog Posts</a></p>
        </th>
    </tr>
    <tr>
        <td>
            <p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
        </td>
        <td>
    
{{#blog_posts}}
<p>
<a href="https://dxrf.com{{url}}">{{title}}</a> 
</p>
{{#excerpt}}
<p>{{_}}</p>
{{/excerpt}}

{{/blog_posts}}
<p>last updated: {{blog_updated_date}}</p>
</td>
</tr>
</table>

<p> Connect with me: 

[![LinkedIn](assets/linkedin.svg)](https://www.linkedin.com/in/james-massardo/)
[![GitHub](assets/github.svg)](https://github.com/jmassardo)
[![Facebook](assets/facebook.svg)](https://www.facebook.com/james.massardo)
[![Twitter](assets/twitter.svg)](https://twitter.com/jamesmassardo)
[![Instagram](assets/instagram.svg)](https://www.instagram.com/jamesmassardo/)
</p>

<p>Special thanks to <a href='https://github.com/thmsgbrt'>Thomas Guibert</a> for his <a href="https://medium.com/swlh/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">blog post</a> on creating custom <a href="https://github.com">GitHub</a> Personal Readmes. <br/>
This page was last generated on {{date}}.</p>